In [1]:
import whyqd as _w
schema = _w.Schema()

details = {
        "name": "HDR 2007-2008 Table 26",
        "title": "HDR 2007-2008 Table 26",
        "description": """calculated on the basis of data on arms transfers from SIPRI 2007a."""
}
schema = _w.Schema()
schema.set_details(**details)

In [2]:
fields = [    
         {
        "name": "Country Name",
        "title": "Country Name",
        "type": "string",
        "description": "Official country names.",
        "constraints": {
            "required": True
        }
        },
        {
            "name": "HDI rank ",
            "type": "integer",
            "description": "attribute a number to each contry."
        },
        {
            "name": "Internally displaced peoplea(thousands)2006e   ",
            "type": "number",
            "description": "The Internally displaced people around the year of 2006."
        },
        {
            "name": "Reference 1 ",
            "type": "string",
            "description": "Refer to the first column without a name. "
        },
        {
            "name": "Refugees By country of asylum(thousands)2006e ",
            "type": "number",
            "description": "The real an estimation nummber of reyfugees by country of asylum."
        },
        {
            "name": "Reference 2 ",
            "type": "string",
            "description": "Refer to the second column without a name."
        },
        {
            "name": "Refugees By country of originc(thousands) 2006e ",
            "type": "number",
            "description": "The real an estimation nummber of reyfugees by country of originc."
        },
		{
            "name": "Reference 3 ",
            "type": "string",
            "description": "Refer to the third column without a name."
        },
		{
            "name": "Conventional arms transfersb(1990 prices) Imports (US$ millions) 1996 ",
            "type": "number",
            "description": "Conventional arms transfers by importation around the uear of 1996."
        },
		{
            "name": "Reference 4 ",
            "type": "string",
            "description": "Refer to the thorth column without a name."
        },
		{
            "name": "Conventional arms transfersb(1990 prices) Imports (US$ millions)2006 ",
            "type": "number",
            "description": "Conventional arms transfers by importation around the year of 2006."
        },
		{
            "name": "Reference 5 ",
            "type": "string",
            "description": "Refer to the column 5 without a name."
        },
		{
            "name": "Conventional arms Exports US$ millions  2006 ",
            "type": "number",
            "description": "Conventional arms exports by around the year of 2006."
        },
		{
            "name": "Reference 6 ",
            "type": "string",
            "description": "Refer to the column 6 without a name."
        },
		{
            "name": "Conventional arms Exports Shared(%)  2002-06 ",
            "type": "number",
            "description": "Conventional arms exports by around the year between 2002 and 2006."
        },
		{
            "name": "Total armed forces Thousands2007 ",
            "type": "number",
            "description": "Total armed forces Thousands 2007 ."
        },
		{
            "name": "Reference 7 ",
            "type": "string",
            "description": "Refer to the column 7 without a name."
        },
		{
            "name": "Total armed forces Index (1985 = 100)2007 ",
            "type": "number",
            "description": "Total armed forces for Index (1985 = 100) 2007 ."
        },

]
for field in fields:
    schema.set_field(**field)

In [3]:
schema.field("country_name")

{'name': 'country_name',
 'type': 'string',
 'constraints': {'required': True},
 'title': 'Country Name',
 'description': 'Official country names.'}

In [4]:
directory = "Desktop"
# vous pouvez également spécifier un nom de fichier facultatif
# si vous l'omettez, le nom du fichier sera par défaut le nom du schéma
filename = "human-development-report-schema"
# si le fichier existe déjà, vous devrez spécifier "overwrite=True" sinon vous obtiendrez une erreur
schema.save(directory, filename=filename, overwrite=True)

True

In [5]:
### Les importations et paramètres suivants vous permettent d'obtenir un large éventail de résultats pour vos tableaux
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

import numpy as np
import whyqd as _w

SCHEMA_SOURCE = "Desktophuman-development-report-schema.json"
DIRECTORY = "Desktop"
INPUT_DATA = [
    "HDR 2007-2008 Table 26.xlsx"
]
method = _w.Method(SCHEMA_SOURCE, directory=DIRECTORY, input_data=INPUT_DATA)

In [6]:
print(method.print_input_data())

Data id: 61969a43-1947-4320-be86-8a68a1b06552
Original source: HDR 2007-2008 Table 26.xlsx

====  =========================  ============  ===============================  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..  Unnamed: 0                   Unnamed: 1  Unnamed: 2                         Unnamed: 3    Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7    Unnamed: 8    Unnamed: 9    Unnamed: 10    Unnamed: 11    Unnamed: 12    Unnamed: 13    Unnamed: 14    Unnamed: 15    Unnamed: 16    Unnamed: 17    Unnamed: 18    Unnamed: 19    Unnamed: 20    Unnamed: 21    Unnamed: 22    Unnamed: 23    Unnamed: 24
====  =========================  ============  ===============================  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0  nan                                 nan  nan                                       nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1  nan                                 nan  … protecting personal security…           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   2  26 Refugees and armaments           nan  nan                                       nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  =========================  ============  ===============================  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============

In [7]:
method.default_morph_types

['CATEGORISE', 'DEBLANK', 'DEDUPE', 'DELETE', 'MELT', 'REBASE', 'RENAME']

In [8]:
# A titre d'exemple :
method.default_morph_settings("CATEGORISE")

{'name': 'CATEGORISE',
 'title': 'Categorise',
 'type': 'morph',
 'description': 'Convert row-level categories into column categorisations.',
 'structure': ['rows', 'column_names']}

In [10]:
# A titre d'exemple :
method.default_morph_settings("REBASE")

{'name': 'REBASE',
 'title': 'Rebase',
 'type': 'morph',
 'description': 'Rebase the header row at an indexed row and drop rows above that point.',
 'structure': ['rows']}

In [9]:
# A titre d'exemple :
method.default_morph_settings("RENAME")

{'name': 'RENAME',
 'title': 'Rename',
 'type': 'morph',
 'description': 'Rename header columns listed in a dict.',
 'structure': ['column_names']}

In [11]:
# Utilisez _id, ou une autre variable, puisque `id` est un terme protégé par Python
_id = method.input_data[0]["id"]
df = method.input_dataframe(_id)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,… protecting personal security…,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26 Refugees and armaments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
method.reset_input_data_morph(_id)

In [13]:
method.add_input_data_morph(_id, ["REBASE", 11])

In [14]:
# On obtient la valeur du dernier élément de l'index, puis on ajoute 1 pour créer l'intervalle
rows = [int(i) for i in np.arange(144, df.index[-1]+1)]
method.add_input_data_morph(_id, ["DELETE", rows])

In [35]:
columns = [
     "Country Name",
    "HDI rank",
    "Internally displaced peoplea(thousands)2006e ",
    "Reference 1",
    "Refugees By country of asylum(thousands)2006e",
    "Reference 2",
    "Refugees By country of originc(thousands) 2006e",
    "Reference 3",
    "Conventional arms transfersb(1990 prices) Imports (US$ millions) 1996",
    "Reference 4",
    "Conventional arms transfersb(1990 prices) Imports (US$ millions)2006",
    "Reference 5",
    "Conventional arms Exports US$ millions  2006",
    "Reference 6",
    "Conventional arms Exports Shared(%)  2002-06",   
    "Total armed forces Thousands2007", 
    "Reference 7",
    "Total armed forces Index (1985 = 100)2007",
    "Reference 8",
    "Reference 9",
    "Reference 10",
    "Reference 11",
    "Reference 12",
    "Reference 13",
    "Reference 14"
]

In [37]:
method.add_input_data_morph(_id, ["RENAME", columns])

ValueError: Task morph `RENAME` has invalid structure `['column_names']`.

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,… protecting personal security…,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26 Refugees and armaments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Obtenir les indices des lignes de données catégorielles
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
rows = df[df["HDI rank"].isin(hdi_categories)].index
method.add_input_data_morph(_id, ["CATEGORISE", rows, "HDI category"])

KeyError: 'HDI rank'