In [20]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_excel('HDR_2007-2008_Table 26.xlsx')
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,… protecting personal security…,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26 Refugees and armaments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Conventional arms transfersb\n(1990 prices),...,NaN,NaN,Total armed forces,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,HDI rank,NaN,NaN,Internally displaced peoplea\n(thousands) ...,NaN,Refugees,NaN,NaN,NaN,Imports\n(US$ millions),...,NaN,NaN,Thousands\n2007,NaN,Index \n(1985 = 100)\n2007,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,By country of asylum\n(thousands)\n2006e,NaN,By country of originc\n(thousands) \n2006e,NaN,1996,...,Shared\n(%) \n2002-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df = pd.read_excel('HDR_2007-2008_Table 26.xlsx', header = 9)
df = df.dropna(how="all", axis=1)
df = df.dropna(how="all", axis=0).reset_index(drop=True)
df.head(6)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Conventional arms transfersb\n(1990 prices),NaN,NaN,NaN,NaN,NaN,NaN,Total armed forces,NaN,NaN
1,HDI rank,NaN,Internally displaced peoplea\n(thousands) ...,NaN,Refugees,NaN,NaN,NaN,Imports\n(US$ millions),NaN,NaN,NaN,Exports\n,NaN,NaN,Thousands\n2007,NaN,Index \n(1985 = 100)\n2007
2,NaN,NaN,NaN,NaN,By country of asylum\n(thousands)\n2006e,NaN,By country of originc\n(thousands) \n2006e,NaN,1996,NaN,2006,NaN,US$ millions 2006,NaN,Shared\n(%) \n2002-06,NaN,NaN,NaN
3,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Iceland,..,NaN,(.),NaN,(.),NaN,..,NaN,..,NaN,..,NaN,..,0,NaN,..
5,2,Norway,..,NaN,43,NaN,..,NaN,183,NaN,501,NaN,2,NaN,(.),23,NaN,62

In [28]:
columns = []
for c in df.columns:
    columns.append([str(v) for v in df[c][:3] if pd.notnull(v)])
columns

[['HDI rank'],
 [],
 ['Internally displaced peoplea\n(thousands)                               2006e'],
 [],
 ['Refugees ', 'By country of asylum\n(thousands)\n2006e'],
 [],
 ['By country of originc\n(thousands) \n2006e'],
 [],
 ['Conventional arms transfersb\n(1990 prices)',
  'Imports\n(US$ millions)',
  '1996'],
 [],
 ['2006'],
 [],
 ['Exports\n', 'US$ millions  2006'],
 [],
 ['Shared\n(%)  \n2002-06'],
 ['Total armed forces', 'Thousands\n2007'],
 [],
 ['Index \n(1985 = 100)\n2007']]

In [35]:
columns = [
    "HDI rank",
    "Country",
    "Internally displaced peoplea(thousands)2006e ",
    "Reference 1",
    "Refugees By country of asylum(thousands)2006e",
        "Reference 2",
    "Refugees By country of originc(thousands) 2006e",
    "Reference 3",
    "Conventional arms transfersb(1990 prices) Imports (US$ millions) 1996",
    "Reference 4",
    "2006",
    "Reference 5",
    "Conventional arms Exports US$ millions  2006",
    "Reference 6",
    "Shared\n(%)  2002-06",   
    "Total armed forces Thousands2007", 
    "Reference 7",
    "Total armed forces Index (1985 = 100)2007"
]
df.columns = columns
df = df.drop(np.arange(5), axis=0).reset_index(drop=True)
df.head()

,HDI rank,Country,Internally displaced peoplea(thousands)2006e,Reference 1,Refugees By country of asylum(thousands)2006e,Reference 2,Refugees By country of originc(thousands) 2006e,Reference 3,Conventional arms transfersb(1990 prices) Imports (US$ millions) 1996,Reference 4,2006,Reference 5,Conventional arms Exports US$ millions 2006,Reference 6,Shared (%) 2002-06,Total armed forces Thousands2007,Reference 7,Total armed forces Index (1985 = 100)2007
0,7,Switzerland,..,NaN,49,NaN,(.),NaN,187,NaN,72,NaN,144,NaN,1,4,NaN,..
1,8,Japan,..,NaN,2,NaN,(.),NaN,813,NaN,400,NaN,0,NaN,(.),240,NaN,99
2,9,Netherlands,..,NaN,101,NaN,(.),NaN,181,NaN,171,NaN,"1,481",NaN,3,53,NaN,50
3,10,France,..,NaN,146,NaN,(.),NaN,28,NaN,121,NaN,"1,557",NaN,8,255,NaN,55
4,11,Finland,..,NaN,12,NaN,(.),NaN,605,NaN,84,NaN,31,NaN,(.),29,NaN,79

In [36]:
df.tail(30)

,HDI rank,Country,Internally displaced peoplea(thousands)2006e,Reference 1,Refugees By country of asylum(thousands)2006e,Reference 2,Refugees By country of originc(thousands) 2006e,Reference 3,Conventional arms transfersb(1990 prices) Imports (US$ millions) 1996,Reference 4,2006,Reference 5,Conventional arms Exports US$ millions 2006,Reference 6,Shared (%) 2002-06,Total armed forces Thousands2007,Reference 7,Total armed forces Index (1985 = 100)2007
91,97,Guyana,..,NaN,..,NaN,1,NaN,0,NaN,0,NaN,..,NaN,..,1,NaN,15
92,98,Azerbaijan,579-687,i,3,NaN,126,NaN,0,NaN,0,NaN,..,NaN,..,67,NaN,..
93,99,Sri Lanka,600,g,(.),NaN,117,NaN,152,NaN,20,NaN,..,NaN,..,151,NaN,699
94,100,Maldives,..,NaN,..,NaN,(.),NaN,0,NaN,0,NaN,..,NaN,..,..,NaN,..
95,101,Jamaica,..,NaN,..,NaN,1,NaN,0,NaN,25,NaN,..,NaN,..,3,NaN,143
96,102,Cape Verde,..,NaN,..,NaN,(.),NaN,0,NaN,0,NaN,..,NaN,..,1,NaN,13
97,103,El Salvador,..,NaN,(.),NaN,6,NaN,3,NaN,0,NaN,..,NaN,..,16,NaN,38
98,104,Algeria,"1,000",g,94,j,8,NaN,87,NaN,173,NaN,..,NaN,..,138,NaN,81
99,105,Viet Nam,..,NaN,2,NaN,374,NaN,207,NaN,179,NaN,..,NaN,..,455,NaN,44
100,106,Occupied Palestinian Territories,25-57,"g,k",..,NaN,334,NaN,9,NaN,0,NaN,..,NaN,..,..,NaN,..
101,107,Indonesia,150-250,NaN,(.),NaN,35,NaN,435,NaN,54,NaN,8,NaN,(.),302,NaN,109
102,108,Syrian Arab Republic,305,g,702,NaN,12,NaN,21,NaN,9,NaN,3,NaN,(.),308,NaN,77
103,109,Turkmenistan,0,NaN,1,NaN,1,NaN,0,NaN,0,NaN,..,NaN,..,26,NaN,..
104,110,Nicaragua,..,NaN,(.),NaN,2,NaN,..,NaN,..,NaN,0,NaN,(.),14,NaN,22
105,111,Moldova,..,NaN,(.),NaN,12,NaN,0,NaN,0,NaN,0,NaN,(.),7,NaN,..
106,112,Egypt,..,NaN,88,NaN,8,NaN,986,NaN,526,NaN,0,NaN,(.),469,NaN,105
107,113,Uzbekistan,3,g,1,NaN,9,NaN,0,NaN,0,NaN,0,NaN,1,55,NaN,..
108,114,Mongolia,..,NaN,(.),NaN,1,NaN,..,NaN,..,NaN,..,NaN,..,9,NaN,27
109,115,Honduras,..,NaN,(.),NaN,1,NaN,..,NaN,..,NaN,..,NaN,..,12,NaN,72
110,116,Kyrgyzstan,..,NaN,(.),NaN,2,NaN,0,NaN,1,NaN,0,NaN,(.),13,NaN,..
111,117,Bolivia,..,NaN,1,NaN,(.),NaN,0,NaN,26,NaN,..,NaN,..,46,NaN,167
112,118,Guatemala,242,g,(.),NaN,7,NaN,0,NaN,0,NaN,..,NaN,..,16,NaN,50
113,119,Gabon,..,NaN,8,NaN,(.),NaN,0,NaN,63,NaN,..,NaN,..,5,NaN,208
114,120,Vanuatu,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,..,NaN,..
115,121,South Africa,..,NaN,35,NaN,1,NaN,38,NaN,862,NaN,115,NaN,(.),62,NaN,58
116,122,Tajikistan,..,NaN,1,NaN,1,NaN,0,NaN,13,NaN,..,NaN,..,8,NaN,..
117,123,Sao Tome and Principe,..,NaN,..,NaN,(.),NaN,..,NaN,..,NaN,..,NaN,..,..,NaN,..
118,124,Botswana,..,NaN,3,NaN,(.),NaN,29,NaN,0,NaN,..,NaN,..,9,NaN,225
119,125,Namibia,..,NaN,5,NaN,1,NaN,0,NaN,0,NaN,..,NaN,..,9,NaN,..
120,126,Morocco,..,NaN,1,NaN,5,NaN,86,NaN,49,NaN,..,NaN,..,201,NaN,135

In [38]:
df = df.drop(np.arange(126,len(df)), axis=0).reset_index(drop=True)df.tail(50)

In [39]:
df.tail(50)

,HDI rank,Country,Internally displaced peoplea(thousands)2006e,Reference 1,Refugees By country of asylum(thousands)2006e,Reference 2,Refugees By country of originc(thousands) 2006e,Reference 3,Conventional arms transfersb(1990 prices) Imports (US$ millions) 1996,Reference 4,2006,Reference 5,Conventional arms Exports US$ millions 2006,Reference 6,Shared (%) 2002-06,Total armed forces Thousands2007,Reference 7,Total armed forces Index (1985 = 100)2007
71,77,Samoa,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,..,NaN,..
72,78,Thailand,..,NaN,133,NaN,3,NaN,611,NaN,47,NaN,0,NaN,(.),307,NaN,130
73,79,Dominican Republic,..,NaN,..,NaN,(.),NaN,4,NaN,0,NaN,..,NaN,..,25,NaN,113
74,80,Belize,..,NaN,(.),NaN,(.),NaN,0,NaN,0,NaN,..,NaN,..,1,NaN,167
75,81,China,..,NaN,301,NaN,141,NaN,"1,274",NaN,"3,261",NaN,564,NaN,2,"2,255",NaN,58
76,82,Grenada,..,NaN,..,NaN,(.),NaN,..,NaN,..,NaN,..,NaN,..,..,NaN,..
77,83,Armenia,8,g,114,NaN,15,NaN,104,NaN,0,NaN,..,NaN,..,44,NaN,..
78,84,Turkey,954-1201,NaN,3,NaN,227,NaN,"1,510",NaN,454,NaN,45,NaN,(.),515,NaN,82
79,85,Suriname,..,NaN,..,NaN,(.),NaN,0,NaN,0,NaN,..,NaN,..,2,NaN,100
80,86,Jordan,..,NaN,500,NaN,2,NaN,76,NaN,117,NaN,13,NaN,(.),101,NaN,144
81,87,Peru,60,g,1,NaN,7,NaN,138,NaN,365,NaN,0,NaN,(.),80,NaN,63
82,88,Lebanon,216-800,NaN,20,NaN,12,NaN,20,NaN,0,NaN,0,NaN,(.),72,NaN,414
83,89,Ecuador,..,NaN,12,NaN,1,NaN,29,NaN,0,NaN,..,NaN,..,57,NaN,134
84,90,Philippines,120,NaN,(.),NaN,1,NaN,32,NaN,43,NaN,..,NaN,..,106,NaN,92
85,91,Tunisia,..,NaN,(.),NaN,3,NaN,56,NaN,16,NaN,..,NaN,..,35,NaN,100
86,92,Fiji,..,NaN,..,NaN,2,NaN,0,NaN,0,NaN,..,NaN,..,4,NaN,148
87,93,Saint Vincent and the Grenadines,..,NaN,..,NaN,(.),NaN,..,NaN,..,NaN,..,NaN,..,..,NaN,..
88,94,Iran (Islamic Republic of),..,NaN,968,NaN,102,NaN,630,NaN,891,NaN,9,NaN,(.),545,NaN,89
89,95,Paraguay,..,NaN,(.),NaN,(.),NaN,2,NaN,0,NaN,..,NaN,..,10,NaN,69
90,96,Georgia,222-241,NaN,1,NaN,6,NaN,0,NaN,0,NaN,0,NaN,(.),11,NaN,..
91,97,Guyana,..,NaN,..,NaN,1,NaN,0,NaN,0,NaN,..,NaN,..,1,NaN,15
92,98,Azerbaijan,579-687,i,3,NaN,126,NaN,0,NaN,0,NaN,..,NaN,..,67,NaN,..
93,99,Sri Lanka,600,g,(.),NaN,117,NaN,152,NaN,20,NaN,..,NaN,..,151,NaN,699
94,100,Maldives,..,NaN,..,NaN,(.),NaN,0,NaN,0,NaN,..,NaN,..,..,NaN,..
95,101,Jamaica,..,NaN,..,NaN,1,NaN,0,NaN,25,NaN,..,NaN,..,3,NaN,143
96,102,Cape Verde,..,NaN,..,NaN,(.),NaN,0,NaN,0,NaN,..,NaN,..,1,NaN,13
97,103,El Salvador,..,NaN,(.),NaN,6,NaN,3,NaN,0,NaN,..,NaN,..,16,NaN,38
98,104,Algeria,"1,000",g,94,j,8,NaN,87,NaN,173,NaN,..,NaN,..,138,NaN,81
99,105,Viet Nam,..,NaN,2,NaN,374,NaN,207,NaN,179,NaN,..,NaN,..,455,NaN,44
100,106,Occupied Palestinian Territories,25-57,"g,k",..,NaN,334,NaN,9,NaN,0,NaN,..,NaN,..,..,NaN,..
101,107,Indonesia,150-250,NaN,(.),NaN,35,NaN,435,NaN,54,NaN,8,NaN,(.),302,NaN,109
102,108,Syrian Arab Republic,305,g,702,NaN,12,NaN,21,NaN,9,NaN,3,NaN,(.),308,NaN,77
103,109,Turkmenistan,0,NaN,1,NaN,1,NaN,0,NaN,0,NaN,..,NaN,..,26,NaN,..
104,110,Nicaragua,..,NaN,(.),NaN,2,NaN,..,NaN,..,NaN,0,NaN,(.),14,NaN,22
105,111,Moldova,..,NaN,(.),NaN,12,NaN,0,NaN,0,NaN,0,NaN,(.),7,NaN,..
106,112,Egypt,..,NaN,88,NaN,8,NaN,986,NaN,526,NaN,0,NaN,(.),469,NaN,105
107,113,Uzbekistan,3,g,1,NaN,9,NaN,0,NaN,0,NaN,0,NaN,1,55,NaN,..
108,114,Mongolia,..,NaN,(.),NaN,1,NaN,..,NaN,..,NaN,..,NaN,..,9,NaN,27
109,115,Honduras,..,NaN,(.),NaN,1,NaN,..,NaN,..,NaN,..,NaN,..,12,NaN,72
110,116,Kyrgyzstan,..,NaN,(.),NaN,2,NaN,0,NaN,1,NaN,0,NaN,(.),13,NaN,..
111,117,Bolivia,..,NaN,1,NaN,(.),NaN,0,NaN,26,NaN,..,NaN,..,46,NaN,167
112,118,Guatemala,242,g,(.),NaN,7,NaN,0,NaN,0,NaN,..,NaN,..,16,NaN,50
113,119,Gabon,..,NaN,8,NaN,(.),NaN,0,NaN,63,NaN,..,NaN,..,5,NaN,208
114,120,Vanuatu,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,..,NaN,..
115,121,South Africa,..,NaN,35,NaN,1,NaN,38,NaN,862,NaN,115,NaN,(.),62,NaN,58
116,122,Tajikistan,..,NaN,1,NaN,1,NaN,0,NaN,13,NaN,..,NaN,..,8,NaN,..
117,123,Sao Tome and Principe,..,NaN,..,NaN,(.),NaN,..,NaN,..,NaN,..,NaN,..,..,NaN,..
118,124,Botswana,..,NaN,3,NaN,(.),NaN,29,NaN,0,NaN,..,NaN,..,9,NaN,225
119,125,Namibia,..,NaN,5,NaN,1,NaN,0,NaN,0,NaN,..,NaN,..,9,NaN,..
120,126,Morocco,..,NaN,1,NaN,5,NaN,86,NaN,49,NaN,..,NaN,..,201,NaN,135

In [41]:
#Enregistrer les informations autres que les données contenues dans le dataframe

df_notes = df.iloc[121:124,]
df_src = df.iloc[124:125,]

df_notes = df_notes.dropna(how = 'any', axis = 1).reset_index(drop=True)
df_src = df_src.dropna(how = 'any', axis = 1).reset_index(drop=True)

df_notes
df_src

Empty DataFrame
Columns: [HDI rank, Country, Internally displaced peoplea(thousands)2006e , Reference 1, Refugees By country of asylum(thousands)2006e, Reference 2, Refugees By country of originc(thousands) 2006e, Reference 3, Conventional arms transfersb(1990 prices) Imports (US$ millions) 1996, Reference 4, 2006, Reference 5, Conventional arms Exports US$ millions  2006, Reference 6, Shared
(%)  2002-06, Total armed forces Thousands2007, Reference 7, Total armed forces Index (1985 = 100)2007]
Index: []

In [42]:
df_notes

Empty DataFrame
Columns: [HDI rank, Country, Internally displaced peoplea(thousands)2006e , Reference 1, Refugees By country of asylum(thousands)2006e, Reference 2, Refugees By country of originc(thousands) 2006e, Reference 3, Conventional arms transfersb(1990 prices) Imports (US$ millions) 1996, Reference 4, 2006, Reference 5, Conventional arms Exports US$ millions  2006, Reference 6, Shared
(%)  2002-06, Total armed forces Thousands2007, Reference 7, Total armed forces Index (1985 = 100)2007]
Index: []

In [43]:
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
df = df.drop(df[df["HDI rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)
df.loc[:, "HDI category"] = np.where(df["HDI rank"] < 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI rank"] < 70,
                                              "MEDIUM HUMAN DEVELOPMENT",
                                              "HIGH HUMAN DEVELOPMENT"
                                             )
                                    )
df.sort_values(by="HDI rank", inplace=True)
df.head()

TypeError: '<' not supported between instances of 'str' and 'int'